@model List<Phone>
<h2>Список телефонов</h2>
<div class="row">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th></th>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.Name</td>
                <td>@phone.Brand.Name</td>
                <td>@phone.Price</td>
                <td>
                    <a asp-action="Details" asp-controller="Phones" asp-route-id="@phone.Id">Details</a>
                </td>
            </tr>
        }
    </table>
</div>