@model PhoneAndCompaniesViewModel
@{ ViewData["Title"] = "Add new phone";
    Layout = "_Layout"; }

<h2>Заполните форму для добавления устройства</h2>
<div class="row">
    <div class="phone_add_form col-md-6">
        <form asp-action="Add" method="post">
            <div class="form_row">
                <label for="">
                    Наименование
                    <input asp-for="Phone.Name" type="text">
                </label>
            </div>
            <div class="form_row">
                <label for="companyName">
                    Company
                </label>
                <select id="companyName" asp-for="Phone.CompanyId">
                    @foreach (var item in @Model.CompanyList)
                    {
        <option value="@item.Id">@item.Name</option>
}
                </select>
            </div>
            <div class="form_row">
                <label for="">
                    Стоимость
                    <input asp-for="Phone.Price" type="text">
                </label>
            </div>
            <button type="submit">Создать</button>
        </form>
    </div>
</div>