@model PhoneAndCompaniesViewModel
@{ ViewData["Title"] = "Add new phone";
    Layout = "_Layout"; }

<h2>Заполните форму для добавления устройства</h2>
<div class="row">
    <div class="phone_add_form col-md-6">
        <form asp-action="Add" method="post">

            @{ await Html.RenderPartialAsync("PartialViews/_PhoneFormPartial", new PhoneAndCompaniesViewModel()
                {
                    Phone = new Phone(),
                    BrandList = Model.BrandList
                }); }

            <button type="submit">Создать</button>
        </form>
    </div>
</div>

@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}