@model PhoneAndCompaniesViewModel
@{
    ViewBag.Title = "Редактирование";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-controller="Phones" method="post">
            <input asp-for="Phone.Id" value="@Model.Phone.Id" hidden>

            @{
                await Html.RenderPartialAsync("PartialViews/_PhoneFormPartial");
            }

            <button type="submit"> Изменить </button>
        </form>
    </div>
</div>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}